.formBody {
	display: flex;
	flex-direction: column;
	width: 400px;
	margin: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.formBody input {
	width: 100%;
	padding: 16px;
	background-color: #edf2f7;
	border: none;
	margin-bottom: 16px;
	font-size: 14px;
	border: 2px solid #a0aec0;
	box-sizing: border-box;
}

.formBody textarea {
	width: 100%;
	padding: 16px;
	background-color: #edf2f7;
	border: none;
	margin-bottom: 16px;
	font-size: 14px;
	border: 2px solid #a0aec0;
	box-sizing: border-box;
	height: 150px;
}

button[type="submit"] {
	background-color: #845fda;
	color: #ffffff;
	font-size: 14px;
	border: solid 2px #01a715;
	padding: 16px;
	width: 50%;
	margin-bottom: 5px;
}

button.active {
    background-color: #01a715
}

button:focus {
    background-color: #3c129e;
}
